<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for("static", filename="js/main.js") }}"></script>
    <script src="{{ url_for("static", filename="bootstrap/js/jquery.js") }}"></script>
    <script src="{{ url_for("static", filename="bootstrap/js/bootstrap.min.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    <title>Bloggr</title>
</head>
<body>
    <div class="container">
       {% for msg in get_flashed_messages() %}
       <div class="alert alert-info"> {{ msg }} </div> 
       {% endfor %}
      <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for("main.index") }}">Bloggr</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li >
              <a href="{{ url_for("posts.home") }}">Home</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for category in categories %}
                             <li><a class="nav-link"
                                href="{{ url_for("posts.posts_by_category", category = category) }}">
                                 {{category}}
                             </a><li> 
                {% endfor %}
                </ul>
            </li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_active() %}
                 <li class="active"><a href="{{ url_for("users.posts_by_author", author=current_user.name) }}">
                    {{ current_user.name }}
                  </a></li>
                <li>
                       <a href="{{ url_for("posts.add_post") }}">Add New Post</a> 
                </li>

                <li>
                       <a href="{{ url_for("users.fav_posts", username = current_user.name) }}">
                       <span class="glyphicon glyphicon-heart"> </span> My Favorites
                       </a> 
                </li>
                 <li>
                       <a href="{{ url_for("users.logout") }}">Log out</a>
                 </li>
                {% else %} 
                 <li>
                       <a href="{{ url_for("users.login") }}">Log in</a>
                 </li>
                 <li>
                       <a href="{{ url_for("users.register") }}">Register</a>
                 </li>
                {% endif %}
                 </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

   <hr>
    {% block content %}
    {% endblock %} 

        <div style="margin-bottom: 80px"></div>

    </div>
    <hr>
    <div class="container">
        <h4>Latest comments</h4>

        {% for comment in latest_comments() %}
        <hr>
        
        <span class="label label-primary"> 
             {{ comment.author.name }} 
        </span> 
        in <a href="{{ url_for("posts.post_by_id", id = comment.post_id) }}#{{ comment.id  }}">
            {{ post_by_id(comment.post_id).title }}
        </a> 
        {% endfor %}

    <div style="margin-bottom: 80px"></div>
    </div>
    <hr>
    <div class="container">
        <h4>Random Posts</h4>

        {% for post in random_posts %}
        <hr>
        <a href="{{ url_for("posts.post_by_id", id = post.id) }}">{{ post.title }}</a>
        {% endfor %}
    <div style="margin-bottom: 80px"></div>
    </div>
</body>
</html>
