<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <title>Bloggr</title>
</head>
<body>

   {% for msg in get_flashed_messages() %}
   <div class="alert">{{msg}}</div>
   {% endfor %}

    <div class="container">
        <h4> 
            <a href="{{ url_for("posts.home") }}">Bloggr</a> 
            {% if current_user.is_active() %}
            | <a href="{{ url_for("users.posts_by_author", author=current_user.name) }}">
                {{ current_user.name }}
              </a> 
            | <a href="{{ url_for("posts.add_post") }}">Add New Post</a> 
            | <a href="{{ url_for("users.logout") }}">Log out</a> 
            {% else %} 
            | <a href="{{ url_for("users.login") }}">Log in</a> 
            | <a href="{{ url_for("users.register") }}">Register</a>
            {% endif %}
           
        
        </h4>
    <hr>
    {% block content %}

    {% endblock %} 
    </div>
</body>
</html>
