{% block post_base %}

<div class="post-base">

<h2 class="post-title"><a href="{{ url_for("posts.post_by_id", id = post.id) }}">{{ post.title }}</h2></a>

    {% if post.created_date %}
    <span title="{{ post.created_date.date() }}">
     {{ post.created_date | timesince }} 
    </span>
    {% endif %}

    In <span class="label label-info"> 
        <span class="glyphicon glyphicon-tag"></span>
         
       <a href="{{ url_for("posts.posts_by_category", 
               category=post.category.name)
            }}">
       {{ post.category.name }} </a> 
    </span>
    
    By <span class="label label-primary"> 
    <span class="glyphicon glyphicon-user"></span>
    <a href="{{ url_for("users.posts_by_author", 
               author=post.author.name)
            }}">
       {{ post.author.name }} </a> 
    </span>

<span class="badge" style="margin-left: 4px;"><span class="glyphicon glyphicon-comment"></span> {{ post.comments | count }}</span>
<hr>

<br>
</div>
{% endblock %}
