alembic==0.6.6
bcrypt==3.1.7
blinker==1.4
cffi==1.13.2
Click==7.0
coverage==4.5.4
Flask==1.1.1
Flask-Login==0.4.1
Flask-Migrate==1.2.0
Flask-SQLAlchemy==2.4.1
Flask-Testing==0.7.1
Flask-WTF==0.10.2
itsdangerous==0.24
Jinja2==2.10.3
Mako==1.0.0
MarkupSafe==0.23
psycopg2==2.8.3
pycparser==2.19
six==1.13.0
SQLAlchemy==0.9.4
Werkzeug==0.16.0
WTForms==2.0.1
