{% extends "base.html" %}

{% block content %}
   <br>
   {% if posts %}
      <h2> Favorited posts by {{ user.name }}:</h2>
      <h4 style="color:#999">{{message}}</h4>
      <br>
      <br>
       {% for post in posts %}

       {% include "post_base.html" %}

       {% endfor %} 
   <br>
   <br>
   {% else %}
       <h4 style="color:#999">{{message}}</h4>
       <br>
       <h4>
           <a href="{{ url_for('posts.home') }}">Return to the Homepage</a>
       </h4>
   {% endif %}
{% endblock %}
