{% extends "base.html" %}
{% block content %}
   <br>
   <h2>{{ user.name }} Profile:</h2>
   <hr>
   {% if current_user.is_active() %}
   <br>
   <h4>
       <script>set_follow_button_state('{{user.name}}', '{{current_user.name}}')</script>

       <span id="follow-btn" class="label label-info" onclick="follow('{{user.name}}')">
           follow {{ user.name }}
       </span>
   
   </h4>
   <hr>
   {% endif %}
 
    <h2>About The User</h2>
    <p>I am nice !</p>
   <hr>
   <h3>Latest Posts By {{ user.name }} :</h3>
   {% if message %}
       <p>{{ message }}</p>
   {% else %}
       {% for post in posts %}
       {% include "post_base.html" %}
       {% endfor %} 
   {% endif %}
   <br>
   <br>

   <hr>
   
   <h3>followers:</h3>
   {% for user in user.followers.all() %}
   
   <li>{{ user.name }}</li>

   {% endfor %}
   <br>
   <br>
   <hr>
   <h3>followings:</h3>
   {% for user in user.following.all() %}
   
   <li>{{ user.name }}</li>

   {% endfor %}
   <br>
   <br>
   <hr>








   {% if current_user == user %}
   <a href="{{ url_for('users.settings') }}"> Change Your Profile Settings </a>
   {% endif %}

{% endblock %}
