{% from "_formhelpers.html" import render_field %}


{% extends "base.html" %}
{% block content %}
<h1>Register: </h1>
    <form class="form-signup" action="" role="form" method="post">
        {{ form.csrf_token }}

        {{ render_field(field=form.username, placeholder="username", class="form-control") }}

        {{ render_field(field=form.email, placeholder="email", class="form-control") }}

        {{ render_field(field=form.password, placeholder="password", class="form-control") }}

        {{ render_field(field=form.confirm, placeholder="password confirmation", class="form-control") }}

        <br>
        <span>- {{ g.message }}</span>
        <br>

        <button class="btn btn-sm btn-success" type="submit">Sign Up</button>
    </form>
    {% if error %}
    <strong>Error: </strong><div class="alert">{{ error}} </div>
    {% endif %}
{% endblock %}
