{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}

{% block content %}
<h1>User Settings:</h1>

<br>

<h3>Edit user information:</h3>
<br>

    <form class="form-signup" action="" role="form" method="post">
        {{ form.csrf_token }}

        {{ render_field(field=form.email, placeholder="email", class="form-control", value=current_user.email ) }}

        {{ render_field(field=form.current_password, placeholder="current password", class="form-control") }}
        {{ render_field(field=form.new_password, placeholder="new password", class="form-control") }}

        {{ render_field(field=form.confirm, placeholder="new password confirmation", class="form-control") }}

        <br>
        <br>
    {% if message %}
    <strong> - {{ message }} </strong>    
    {% endif %}



    <h3 title="{{ form.process() }}">Favorites:</h3> {# form.process() did not work in the views properly, so I called here and hided it's resault (which is None) in the title of that tag, not sure if there is a better way to do it #}
    
            {{ render_field(field=form.private_favs) }} 

    <button class="btn btn-sm btn-success" type="submit">Save Settings</button>

    </form>
{% endblock %}
