
{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}
{% block content %}
   {% include "post_base.html" %}
   <div class="post-content">
       <strong>Post:</strong> {{ post.description }} <br>
       <br>
       <br>
        <script>reload_list_of_fav_users({{post.id}})</script>
    {% if current_user not in post.fav_users %}    
    <span style = "color:grey; cursor:pointer" class="glyphicon glyphicon-heart" title="Add to favorites" id ="favorite-icon" onclick="add_to_favorites({{post.id}})">
    {% else %}
    <span style = "color:red; cursor:pointer" class="glyphicon glyphicon-heart" title="Remove from favorites" id ="favorite-icon" onclick="remove_from_favorites({{post.id}})">
    {% endif %}
    </span>
   <div class="fav-users">
       <h5>This post is favorited by:</h5>
       <ul id="fav-users">
           {% for u in post.fav_users %}
                <li>{{ u.name }}</li>
           {% endfor %}
       </ul>
   
   </div>
   </div>
   <hr>
   <h3>Add comment:</h3>

    <form class="form-signin" action="" role="form" method="post">
        {{ form.csrf_token }}

        {{ render_field(field=form.content, placeholder="Content", class="form-control") }}

        <button class="btn btn-sm btn-success" type="submit">Add comment</button>
    </form>
    {% if error %}
    <strong>Error: </strong><div class="alert">{{ error}} </div>
    {% endif %}

   <hr>
   {% if not comments.first()  %} {# if post has no comments #}
   <i style = "color: #999"> No comments yet</i>
   {% else %}

   <h2>Comments
    <span class="badge" style="margin-left: 4px;">
    <span class="glyphicon glyphicon-comment"></span> {{ post.comments | count }}</span>
   </h2>

   <div class="comments">
       {% for comment in comments %}
       <div class="comment" name = {{ comment.id  }}>
           <i>#{{ comment.id }}</i> 

            {% if comment.created_date %}
            said <span title="{{ comment.created_date.date() }}">
             {{ comment.created_date | timesince }} 
            </span>
            {% endif %}

            {% if comment.author.name == post.author.name %}
            <span class="label label-danger"> 
            {% else %}
            <span class="label label-default"> 
            {% endif %}
            <a href="{{ url_for("users.posts_by_author", 
                       author=comment.author.name)}}">
               {{ comment.author.name }} 
            </a>
            </span> 
               
           <p class="comment-body">{{ comment.content }}</p>
       </div>
       {% endfor %}
   </div>
   {% endif %}
{% endblock %} 
