{% from "_formhelpers.html" import render_field %}


{% extends "base.html" %}
{% block content %}
   <br>
   <h2>{{ post.title }}</h2>
   <strong>Post:</strong> {{ post.description }} <br>
   <strong>Author:</strong> {{ post.author.name }} <br>
   <strong>Category:</strong> {{ post.category.name }} <br>
   <br>
   <br>
   <hr>
   <h3>Add comment:</h3>

    <form class="form-signin" action="" role="form" method="post">
        {{ form.csrf_token }}

        {{ render_field(field=form.content, placeholder="Content", class="form-control") }}

        <button class="btn btn-sm btn-success" type="submit">Add comment</button>
    </form>
    {% if error %}
    <strong>Error: </strong><div class="alert">{{ error}} </div>
    {% endif %}

   <hr>
   {% if not comments.first()  %} {# if post has no comments #}
   <i style = "color: #999"> No comments yet</i>
   {% else %}
   <h2>Comments({{ post.comments | count }}): </h2>
   {% for comment in comments %}
   <div class="comments">
       <i>#{{ comment.id }} | {{ comment.author.name }}:</i> 
       <p>{{ comment.content }}</p>
   </div>
   {% endfor %}
   {% endif %}
{% endblock %} 
