.post-textarea{
    height: 300px !important;
    font-size: 16px;




}
.post-base {
    margin-bottom: 1px;
}
.post-content {
    margin-top: 30px;
}

.label a {
    color: #ffffff;
}

.label a:hover {
    color: #ffffff;
    text-decoration: none;
}

.comment {
    margin: 30px;
    border-radius: 2px;
    padding:10px;
    background-color: #FAFAFA;
    font-size: 16px;
}

.comment-body {
    margin: 10px;
}

.post-title {
    font-size: 24px;
}

.navbar-btn {
    margin-right: 20px;
    margin-left: 20px;
}
